* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f9; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("download\ CAKE.jpg");
  }
  
  .logo h2 {
    font-size: 2.5rem;
    color: #f7f8f2;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: 2px solid #333;
    padding: 20px;
    width: 500px;
    background-color: #95d3a7d8;
    border-radius: 10px;
    text-shadow: 6px 4px 10px;
    background-image: url("qz.jpg");

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
